.scrollbar-dark {}

/* WebKit browsers */
.scrollbar-dark::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  background: #000000ff;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 6px;
  /* border: 3px solid #f0f0f0; */
}

.scrolbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}